@font-face {
    font-family: 'Bugaki';
    src: url('fonts/Bugaki.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
  

html, body {
    overflow-y: hidden;
}

body.fundo-mel {
    margin: 0;
    padding: 0;
    font-family: 'Bugaki', sans-serif;
    background-color: #ffde59;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center;
}

.mel-topo {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 2;
    margin-top: 180px;
    padding: -40px;
}


.container-menor {
    gap: 10px;
}

.texto-explicativo {
    font-size: 40px;
    font-weight: bold;
    color: #cd7a00 ;
    margin-bottom: 30px;
}

.titulo {
    font-size: 70px;
    font-weight: bold;
    color: #cd7a00 ;
    margin-bottom: 40px;
}

.pontuacao {
    font-size: 95px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
}

.abelha-esquerda {
    position: absolute;
    top: 100px;
    left: 40px;
    z-index: 2;
    margin-left: 20px;
    overflow: hidden;
}

.abelha-esquerda img {
    width: 150px;
    height: auto;
}

.abelha-direita {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2;
    margin-right: 20px;
    overflow: hidden;
}

.abelha-direita img {
    width: 330px;
    height: auto;
}

.botao-pronto {
    margin-top: 30px;
}

.btns-restart-game{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.btn-final{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #f4f4f4c7;
  border: 2px solid #d88d00;
  cursor: pointer;
  color: #cd7a00;
  font-family: "Comfortaa";
  font-size: 1.1rem;
  transition: 0.5s all;
}

.btn-final:hover{
  transform: translateY(-5px);
  background-color: #ffe28a;
}

@media (max-width: 768px) {
    .mel-topo {
      height: auto;
    }
  
    .texto-explicativo {
      font-size: 18px;
      margin: 20px;
    }
  
    .titulo {
      font-size: 32px;
      line-height: 1.2;
      margin: 20px;
    }
  
    .abelha-esquerda {
      top: 30px;
      left: 10px;
    }
  
    .abelha-esquerda img {
      width: 100px;
    }
  
    .abelha-direita {
      bottom: 20px;
      right: 10px;
    }
  
    .abelha-direita img {
      width: 200px;
    }
  
    .container {
      margin-top: 150px;
      padding: 0 20px;
    }
  }
  